<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../frameworks/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="../css/estilos.css">
	<title>Document</title>
</head>
<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col col-xs-6 col-sm-6 col-md-4">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</div>
	            <div class="col col-xs-6 col-sm-6 col-md-4">
	                <figure>
	                	<img class="img-responsive center-block" src="../img/logo.png" alt="Taxi Eficiente y Seguro">
	                </figure>
				</div>	
				<div class="col col-xs-12 col-sm-12 col-md-4">
					<a class="btn btn-primary" href="">Registrarme</a>
				</div>
			</div>
			<hr />
		</div>	
	</header>
	<section class="text-center">
		<div class="container">
			<div class="row">
				<div class="col col-xs-0 col-sm-1 col-md-3">
				</div>
	            <div class="col col-xs-12 col-sm-10 col-md-6">
	                <div class="row">
	                	<form class="form-horizontal">
							<div class="form-group">
								<div class="col col-xs-1 col-sm-3 col-md-3"></div>
								<div class="col col-xs-10 col-sm-6 col-md-6">
									<div class="input-group">
										<label class="input-group-addon"><span class="glyphicon glyphicon-user"></span></label>
									    <input type="email" class="form-control" id="" placeholder="Correo Electrónico">
								    </div>
								</div>
								<div class="col col-xs-1 col-sm-3 col-md-3"></div>
							</div>
							<div class="form-group">
								<div class="col col-xs-1 col-sm-3 col-md-3"></div>
								<div class="col col-xs-10 col-sm-6 col-md-6">
									<div class="input-group">
										<label class="input-group-addon"><span class="glyphicon glyphicon-lock "></span></label>
									    <input type="password" class="form-control" id="" placeholder="Contraseña">
								    </div>
								</div>
								<div class="col col-xs-1 col-sm-3 col-md-3"></div>
							</div>
							<div class="form-group text-right">
								<div class="col col-xs-1 col-sm-5 col-md-3"></div>
							    <div class="col col-sm-offset-1 col-xs-9 col-sm-5 col-md-5">
							      <button type="submit" class="btn btn-default">Ingresar</button>
							    </div>
							    <div class="col col-xs-1 col-sm-5 col-md-3"></div>
							</div>
						</form>
	                <hr />
		                	<span>
		                		<span>¿Aún no tienes cuenta? <a href="">Registrate</a></span>
		                	</span>
	                </div>
				</div>	
				<div class="col col-xs-0 col-sm-1 col-md-3">
				</div>
			</div>
		</div>	
	</section>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col col-xs-6 col-sm-6 col-md-6">
					<h5 class="text-center">© Copyright 2015 by TES. All Rights Reserved.</h5>
				</div>
				<div class="col col-xs-6 col-sm-6 col-md-6">
					<h5 class="text-right">Facebook | Twitter | |LinkedIn</h5>
				</div>
			</div>
		</div>
	</footer>
	<script src="../js/jquery-1.11.1.min.js"></script>
	<script src="../frameworks/bootstrap/bootstrap.min.js"></script>
</body>
</html>